# Virtual environments
venv/
env/
.env
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Veritas Local DB
*.db
*.db-journal
veritas_cloud.db

# Misc
.pytest_cache/
*.egg-info/
dist/
build/
.DS_Store
